//文章内容背景改成了半透明
@media screen and (min-width:1200px) {

    body {
    background-image:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#eee;
    }
}

body{
    background:url(https://pro-image.xiaoheiban.cn/202001/7cc6515c-d793-4a1a-812a-13a8f2a2ecde.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}